<nav class="navbar navbar-inverse">
  <a class="navbar-brand custom-header-logo" href="../">
    <img alt="Brand" src="images/howtoterm.gif">
  </a>
  <ul class="nav navbar-nav">
   <li class="active"><a href="../">Home</a></li>
   <li><a href="scrape">Scrape</a></li>
 </ul>
  <!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> -->
</nav>
